################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Sofisticar-R04/Sofisticar/Lib/site-packages
/.vs
/env
