{% extends "base.html" %}
{% block conteudo %}

<main class="container">
    <div class="py-5 text-center">
        <h2>Cadastro de Orçamento - Cliente</h2>
        <p class="lead">Insira abaixo as informações do cliente para o orçamento.</p>

        <div class="progress mt-4" style="height: 20px">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Cliente</div>
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #aaa" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Veículo</div>
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #aaa" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Itens</div>
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #aaa" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Revisão</div>
        </div>
    </div>

    <div class="container">

        <form action="/cadastrar_orcamento" class="col-12 d-flex" method="POST">
            <div class="col-3 p-1">
                <select class="form-select" name="opcao_cliente">
                    <option>Nome</option>
                </select>
            </div>
            <div class="col-9 p-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Insira uma informação ou deixe em branco para todos os registros" name="campo_cliente">
                    <button type="submit" class="btn btn-secondary">
                        Pesquisar!
                    </button>
                </div>
            </div>
        </form>
        
        <div class="mb-4"> </div> 

        <table class="table col-12">
            <thead class="col-12">
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Ações</th>
            </thead>

            <tbody class="col-12">
                               
                {% if campo_cliente == '' %}
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>
                            <a href="/cadastrar_orcamento/{{cliente.id}}">
                                <button type="button" class="btn btn-outline-primary">
                                    Adicionar
                                </button>
                            </a>
                        </td>                       
                    </tr>
                    {% endfor %}
                
                {% elif opcao_cliente == 'Nome' %}
                    {% for cliente in clientes %}
                        {% if campo_cliente.upper() in cliente.nome.upper() %}
                        <tr>
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.telefone }}</td>
                            <td>{{ cliente.celular }}</td>
                            <td>
                                <a href="/cadastrar_orcamento/{{cliente.id}}">
                                    <button type="button" class="btn btn-outline-primary">
                                        Adicionar
                                    </button>
                                </a>
                            </td>                       
                        </tr>
                        {% endif %}                   
                    {% endfor %}
                {% endif %}  
            </tbody>
        </table>

    </div>    
</main>

{% endblock %}