{% extends "base.html" %}
{% block conteudo %}

<!-- Informações de clientes -->

<main class="container">

    <div class="py-5 text-center">
        <h2>Itens do Orçamento</h2>
        <p class="lead">Selecione abaixo os itens do orçamento.</p>

        <div class="progress mt-4" style="height: 20px">
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #aaa" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Cliente</div>
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #aaa" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Veículo</div>
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Itens</div>
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #aaa" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Revisão</div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-12">
            <form action="/cadastrar_orcamento/{{cliente.id}}/{{veiculo.id}}" method="POST">
                <table class="table">
                    <h4 class="mb-3">Serviços</h4>
                    <thead class="col-12">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Incluir?</th>
                    </thead>              
                    <tbody class="col-12">
                        {% for item in servico %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.nome }}</td>
                                <td>{{ item.descricao }}</td>
                                <td>{{ item.valor }}</td>
                                <td>
                                    <input type="checkbox" name="incluir_servico" value="{{item.id}}"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table">
                    <h4 class="mb-3">Produtos</h4>
                    <thead class="col-12">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Incluir?</th>
                    </thead>              
                    <tbody class="col-12">
                        {% for item in produto %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.nome }}</td>
                                <td>{{ item.descricao }}</td>
                                <td>{{ item.valor }}</td>
                                <td>
                                    <input type="checkbox" name="incluir_produto" value="{{item.id}}"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    Avançar
                </button>


            </form>

            {{ mensagem }}

        </div>
    </div>

</main>

{% endblock %}














