{% extends "base.html" %}
{% block conteudo %}

<!-- Resultado de clientes -->

<main class="container">
    <div class="py-5 text-center">
        <h2>Consulta de Funcionários</h2>
        <p class="lead">Insira abaixo uma das informações para pesquisar o cadastro do funcionário, ou deixe em branco para retornar todos os registros.</p>
    </div>

    <div class="container">
        <!-- Campos de pesquisa para novas consultas -->
        <form action="/resultado_funcionarios" class="col-12 d-flex" method="POST">
            <div class="col-3 p-1">
                <select class="form-select" name="opcao">
                    <option>-- Selecione --</option>
                    <option>Nome</option>
                    <option>E-mail</option>
                    <option>Telefone</option>
                    <option>Celular</option>
                    <option>Função</option>
                </select>
            </div>
            <div class="col-9 p-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Insira uma informação ou deixe em branco para todos os registros" name="campo">
                    <button type="submit" class="btn btn-secondary">Pesquisar!</button>
                </div>
            </div>
        </form>
        
        <div class="mb-4"> </div> <!-- Espaçamento -->
        <!-- Títulos da tabela -->
        <table class="table col-12">
            <thead class="col-12">
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Data Aniversário</th>
                <th>Data Contratação</th>
                <th>Função</th>
                <th>Ações</th>
            </thead>

            <!-- Preenchimento da tabela caso a pesquisa seja vazia (retorna todos os resultados do BD) -->
            <tbody class="col-12">
                               
                {% if campo == '' %}
                    {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.id }}</td>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.email }}</td>
                        <td>{{ funcionario.telefone }}</td>
                        <td>{{ funcionario.celular }}</td>
                        <td>{{ funcionario.dataAniversario }}</td>
                        <td>{{ funcionario.dataContrato }}</td>
                        <td>{{ funcionario.funcao }}</td>
                        <td>
                            <a href="/info_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-secondary" >Info</button></a>
                            <span class="p-2">|</span>
                            <a href="/editar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                            <span class="p-2">|</span>
                            <a href="/deletar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                        </td>                       
                    </tr>
                    {% endfor %}
                <!-- Preenchimento da tabela caso a pesquisa seja por nome (pode ser nome ou parte do nome) -->
                {% elif opcao == 'Nome' %}
                    {% for funcionario in funcionarios %}
                        {% if campo.upper() in funcionario.nome.upper() %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.telefone }}</td>
                            <td>{{ funcionario.celular }}</td>
                            <td>{{ funcionario.dataAniversario }}</td>
                            <td>{{ funcionario.dataContrato }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>
                                <a href="/info_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-secondary" >Info</button></a>
                                <span class="p-2">|</span>
                                <a href="/editar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                <span class="p-2">|</span>
                                <a href="/deletar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                            </td>                              
                        </tr>
                        {% endif %}                   
                    {% endfor %}
                <!-- Preenchimento da tabela caso a pesquisa seja por email (pode ser email ou parte do email) -->
                {% elif opcao == 'E-mail' %}
                    {% for funcionario in funcionarios %}
                        {% if campo.upper() in funcionario.email.upper() %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.telefone }}</td>
                            <td>{{ funcionario.celular }}</td>
                            <td>{{ funcionario.dataAniversario }}</td>
                            <td>{{ funcionario.dataContrato }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>
                                <a href="/info_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-secondary" >Info</button></a>
                                <span class="p-2">|</span>
                                <a href="/editar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                <span class="p-2">|</span>
                                <a href="/deletar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                            </td>                               
                        </tr>
                        {% endif %}                    
                    {% endfor %}
                <!-- Preenchimento da tabela caso a pesquisa seja por telefone (pode ser numero total ou parte do numero) -->
                {% elif opcao == 'Telefone' %}
                    {% for funcionario in funcionarios %}
                        {% if campo in funcionario.telefone %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.telefone }}</td>
                            <td>{{ funcionario.celular }}</td>
                            <td>{{ funcionario.dataAniversario }}</td>
                            <td>{{ funcionario.dataContrato }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>
                                <a href="/info_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-secondary" >Info</button></a>
                                <span class="p-2">|</span>
                                <a href="/editar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                <span class="p-2">|</span>
                                <a href="/deletar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                            </td>                               
                        </tr>
                        {% endif %}                   
                    {% endfor %}
                <!-- Preenchimento da tabela caso a pesquisa seja por celular (pode ser numero total ou parte do numero) -->
                {% elif opcao == 'Celular' %}
                    {% for funcionario in funcionarios %}
                        {% if campo in funcionario.celular %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.telefone }}</td>
                            <td>{{ funcionario.celular }}</td>
                            <td>{{ funcionario.dataAniversario }}</td>
                            <td>{{ funcionario.dataContrato }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>
                                <a href="/info_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-secondary" >Info</button></a>
                                <span class="p-2">|</span>
                                <a href="/editar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                <span class="p-2">|</span>
                                <a href="/deletar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                            </td>                                
                        </tr>
                        {% endif %}                   
                    {% endfor %}

                {% elif opcao == 'Função' %}
                    {% for funcionario in funcionarios %}
                        {% if campo.upper() in funcionario.funcao.upper() %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.telefone }}</td>
                            <td>{{ funcionario.celular }}</td>
                            <td>{{ funcionario.dataAniversario }}</td>
                            <td>{{ funcionario.dataContrato }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>
                                <a href="/info_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-secondary" >Info</button></a>
                                <span class="p-2">|</span>
                                <a href="/editar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                <span class="p-2">|</span>
                                <a href="/deletar_funcionarios/{{funcionario.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                            </td>                                
                        </tr>
                        {% endif %}                   
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <!-- Validações -->  
        <div class="col-12 p-5 d-flex justify-content-center">
            <h5><span>{{ mensagem_info }}</span></h5>
            <h5><span style="color:green">{{ mensagem_editar }}</span></h5>
            <h5><span style="color:red">{{ mensagem_deletar }}</span></h5>      
        </div>

    </div>    

</main>

{% endblock %}