{% extends "base.html" %}
{% block conteudo %}

<!-- Informações de serviço -->

<main class="container">

    <div class="py-5 text-center">
        <h2>Informações de Serviço</h2>
        <p class="lead">Verfique abaixo as informações de {{ servico.nome.upper() }}.</p>
    </div>

    <div class="row g-5">
        <div class="col-12">
            <table class="table" action="/info_servico/{{ servico.id }}" method="POST"> <!-- Caminho para procura (com ID) -->
                <!-- Tabela com dados do serviço -->
                <h4 class="mb-3">Dados do Serviço</h4>
                <thead class="col-12">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                </thead>

                <tbody class="col-12">
                    <tr>
                        <td>{{ servico.id }}</td>
                        <td>{{ servico.nome }}</td>
                        <td>{{ servico.valor }}</td>
                        <td>{{ servico.descricao }}</td>
                        <td>
                            <a href="/editar_servico/{{servico.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>

    <!-- Botões da parte de baixo -->
    <div class="row g-5 p-3">
        <!-- Cria orçamento -->
        <div class="col-md-12 col-lg-6 p-2">
            <a href="#">
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    Criar orçamento
                </button>
            </a>
        </div>

        <!-- Retorno para consulta -->
        <div class="col-md-12 col-lg-6 p-2">
            <button class="w-100 btn btn-outline-secondary btn-lg" type="submit" name="return" onclick="history.back()">
                Voltar para anterior
            </button>
        </div>
    </div>

</main>

{% endblock %}