{% extends "base.html" %}
{% block conteudo %}

<!-- Informações de clientes -->

<main class="container">

    <div class="py-5 text-center">
        <h2>Informações de Cliente</h2>
        <p class="lead">Verfique abaixo as informações de {{ cliente.nome.upper() }}.</p>
    </div>

    <div class="row g-5">
        <div class="col-12">
            <table class="table" action="/info_clientes/{{ cliente.id }}" method="POST"> <!-- Caminho para procura (com ID) -->
                <!-- Tabela com dados do cliente -->
                <h4 class="mb-3">Dados Pessoais</h4>
                <thead class="col-12">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Ações</th>
                </thead>

                <tbody class="col-12">
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>
                            <a href="/editar_clientes/{{cliente.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                        </td>
                    </tr>
                </tbody>
            </table> 

            <div class="mb-5"> </div> <!-- Espaçamento -->

            <table class="table">
                <!-- Tabela com dados dos veículos do cliente -->
                <h4 class="mb-3">Dados dos Veículos</h4>
                <thead class="col-12">
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th>Placa</th>
                    <th>Ações</th>
                </thead>

                <tbody class="col-12">
                    {% for veiculo in veiculos %}
                        {% if cliente.id == veiculo.cliente_id %}
                            <tr>
                                <td>{{ veiculo.id }}</td>
                                <td>{{ veiculo.marca }}</td>
                                <td>{{ veiculo.modelo }}</td>
                                <td>{{ veiculo.cor }}</td>
                                <td>{{ veiculo.placa }}</td>
                                <td>
                                    <a href="/editar_veiculo/{{veiculo.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                    <span class="p-2">|</span>
                                    <a href="/deletar_veiculo/{{veiculo.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <a href="/veiculos/{{ cliente.id }}"><button type="button" class="btn btn-outline-primary">+ Adicionar Veículo</button></a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <!-- Botões da parte de baixo -->
    <div class="row g-5 p-3">
        <!-- Cria orçamento -->
        <div class="col-md-12 col-lg-6 p-2">
            <a href="#">
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    Criar orçamento
                </button>
            </a>
        </div>

        <!-- Retorno para consulta -->
        <div class="col-md-12 col-lg-6 p-2">
            <button class="w-100 btn btn-outline-secondary btn-lg" type="submit" name="return" onclick="history.back()">
                Voltar para anterior
            </button>
        </div>
    </div>

</main>

{% endblock %}