{% extends "base.html" %}
{% block conteudo %}

<main class="container">

    <div class="py-5 text-center">
        <h2>Orçamento nº {{ orcamento.id }}</h2>
        <p class="lead">Confira abaixo as informações o orçamento.</p>
    </div>

    <div class="row g-5">
       
        <div class="col-12">

            <div class="col-12 d-flex">

                <div class="col-4 mt-3">
                    <h4 class="mb-3">Dados do Orçamento</h4>
                    <p><strong>Sofisticar Estética Automotiva</strong></p>
                    <p><strong>Orçamento nº: </strong>{{orcamento.id}}</p>
                    <p><strong>Emitido em: </strong>{{orcamento.data.day}}/{{orcamento.data.month}}/{{orcamento.data.year}}</p>
                    <p><strong>Status: </strong>Aguardando aprovação</p>

                </div>

                <div class="col-4 mt-3">
                    <h4 class="mb-3">Dados do Cliente</h4>
                    <p><strong>Nome: </strong>{{cliente.nome}}</p>
                    <p><strong>E-mail: </strong>{{cliente.email}}</p>
                    <p><strong>Telefone: </strong>{{cliente.telefone}}</p>
                    <p><strong>Celular: </strong>{{cliente.celular}}</p>
                </div>

                <div class="col-4 mt-3">
                    <h4 class="mb-3">Dados do Veículo</h4>
                    <p><strong>Marca: </strong>{{veiculo.marca}}</p>
                    <p><strong>Modelo: </strong>{{veiculo.modelo}}</p>
                    <p><strong>Cor: </strong>{{veiculo.cor}}</p>
                    <p><strong>Placa: </strong>{{veiculo.placa}}</p>
                </div>

            </div>

            {% if orcamento.servico_id != {} %}
                <table class="table">
                    <h4 class="mb-3">Serviços</h4>

                    <thead class="col-12">
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </thead>
                
                    <tbody class="col-12">
                        {% for serv in servico %}
                        <tr>
                            {% for item in orcamento.servico_id %}
                                {% for elemento in orcamento.servico_id[item] %}
                                        {% if elemento | float == serv.id | float %}
                                            <td>{{ serv.nome }}</td>
                                            <td>{{ serv.descricao }}</td>
                                            <td>{{ serv.valor }}</td>
                                        {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr> 
                        {% endfor %}   
                    </tbody>
                </table>
            {% else %}
            {% endif %}

            <div class="mb-5"> </div> <!-- Espaçamento -->

            {% if orcamento.produto_id != {} %}
                <table class="table">
                    <h4 class="mb-3">Produtos</h4>

                    <thead class="col-12">
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </thead>
                
                    <tbody class="col-12">
                        
                        {% for prod in produto %}
                        <tr>
                            {% for item in orcamento.produto_id %}
                                {% for elemento in orcamento.produto_id[item] %}
                                        {% if elemento | float == prod.id | float %}
                                            <td>{{ prod.nome }}</td>
                                            <td>{{ prod.descricao }}</td>
                                            <td>{{ prod.valor }}</td>
                                        {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr> 
                        {% endfor %}   
                        
                    </tbody>
                </table>
            {% else %}
            {% endif %}

            <div class="mb-5"> </div> <!-- Espaçamento -->
            
            <dic class="col-12">
                <h4 class="text-end">VALOR TOTAL: R${{valor_total}}</h4>
            </div>


            <!-- Botões da parte de baixo -->
            <div class="row g-5 p-3">
                <div class="col-md-12 col-lg-6 p-2">
                    <a href="#">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                            Gerar PDF
                        </button>
                    </a>
                </div>

                <div class="col-md-12 col-lg-6 p-2">
                    <button class="w-100 btn btn-outline-secondary btn-lg" type="submit" name="return" onclick="history.back()">
                        Voltar para anterior
                    </button>
                </div>
            </div>
            
        </div>
    </div>

</main>

{% endblock %}