{% extends "base.html" %}
{% block conteudo %}

<!-- Informações de clientes -->

<main class="container">

    <div class="py-5 text-center">
        <h2>Cadastro de Veículo</h2>
        <p class="lead">Verfique abaixo as informações de {{ cliente.nome.upper() }} antes de adicionar um novo veículo.</p>
    </div>

    <div class="row g-5">
        <div class="col-sm-12 col-lg-7">
            <table class="table" action="/info_clientes/{{ cliente.id }}" method="POST"> <!-- Caminho para procura (com ID) -->
                <!-- Tabela com dados do cliente -->
                <h4 class="mb-3">Dados Pessoais</h4>
                <thead class="col-12">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Ações</th>
                </thead>

                <tbody class="col-12">
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefone }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>
                            <a href="/editar_clientes/{{cliente.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                        </td>
                    </tr>
                </tbody>
            </table> 

            <div class="mb-5"> </div> <!-- Espaçamento -->

            <table class="table">
                <!-- Tabela com dados dos veículos do cliente -->
                <h4 class="mb-3">Dados dos Veículos</h4>
                <thead class="col-12">
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th>Placa</th>
                    <th>Ações</th>
                </thead>

                <tbody class="col-12">
                    {% for veiculo in veiculos %}
                        {% if cliente.id == veiculo.cliente_id %}
                            <tr>
                                <td>{{ veiculo.id }}</td>
                                <td>{{ veiculo.marca }}</td>
                                <td>{{ veiculo.modelo }}</td>
                                <td>{{ veiculo.cor }}</td>
                                <td>{{ veiculo.placa }}</td>
                                <td>
                                    <a href="/editar_veiculo/{{veiculo.id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                                    <span class="p-2">|</span>
                                    <a href="/deletar_veiculo/{{veiculo.id}}"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-12 col-lg-12">
                <a class="w-100 btn btn-outline-primary btn-lg" href="/veiculos/{{cliente.id}}">Atualizar Lista</a>
            </div>
        </div>

        <div class="col-1"></div>

        <form class="col-sm-12 col-lg-4 border border-1 rounded-3 pt-3" action="/veiculos/{{ cliente.id }}" method="POST"> <!-- Caminho para procura (com ID) -->
            
            <h4 class="mb-3">Cadastro do Veículo</h4>
            <!-- Preenchimento dos campos para usuário -->
            <div class="col-12 pt-3">
                <label for="marca" class="form-label">Marca<span style="color:red">&nbsp;*</span></label>
                <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
            </div>

            <div class="col-12 pt-3">
                <label for="modelo" class="form-label">Modelo<span style="color:red">&nbsp;*</span></label>
                <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
            </div>

            <div class="col-12 pt-3">
                <label for="cor" class="form-label">Cor Predominante<span style="color:red">&nbsp;*</span></label>
                <input type="text" class="form-control" id="cor" name="cor" placeholder="Cor Predominante">
            </div>

            <div class="col-12 pt-3 pb-3">
                <label for="placa" class="form-label">Placa<span style="color:red">&nbsp;*</span></label>
                <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
            </div>

            <div class="row g-3 p-2">
                <div class="col-md-12 col-lg-6 p-2">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Cadastrar</button>
                </div>
                <div class="col-md-12 col-lg-6 p-2">
                    <a class="w-100 btn btn-outline-secondary btn-lg" href="javascript:history.back()">Voltar</a>
                </div>
            </div> 

            <!-- Mensagens de validação -->
            <div class="col-12 text-center">
                {% with mensagens =  get_flashed_messages(with_categories=true)%}
                    {%for category,mensage in mensagens %}
                        {%if category == 'error'%}
                            <h5><span style="color:red">{{ mensage }}</span></h5>
                        {%endif%}
                        {%if category == 'info'%}
                            <h5 style="color: green;">{{ mensage }}</h5>
                        {%endif%}
                    {%endfor%}
                {%endwith%}
            </div>
        </form>       
    </div>
    
</main>

{% endblock %}